html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.glass-card {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(128, 189, 255, 0.25); 
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25); 
    backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.18); 
    color: #000000; 
}

    
    .glass-card .form-control {
        background: rgba(255, 255, 255, 0.25); 
        border: 1px solid rgba(255, 255, 255, 0.3); 
        color: #06061b; 
        backdrop-filter: blur(5px); 
    }

        .glass-card .form-control::placeholder {
            color: rgba(255, 255, 255, 0.6); 
        }

        .glass-card .form-control:focus {
            background: rgba(255, 255, 255, 0.4);
            border-color: #80bdff;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(128, 189, 255, 0.25);
        }

  
    .glass-card .btn-primary {
        background: linear-gradient(145deg, #1e90ff, #1c86ee);
        border: none;
        color: #fff;
        border-radius: 10px;
        padding: 10px 20px;
        transition: all 0.3s ease;
    }

        .glass-card .btn-primary:hover {
            background: linear-gradient(145deg, #1c86ee, #1e90ff);
            transform: translateY(-2px); 
            box-shadow: 0 8px 15px rgba(30, 144, 255, 0.4); 
        }
